<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Smartsleep</title>
  </head>
  <body>
    <form class="" action="" method="post">  {% csrf_token %}

      <label>
        Usuario
      </label>

      <input type="text" name="usuario" value="">
      <br>


      <label>
        Temperatura
      </label>

      <input type="text" name="temperatura" value="">
      <br>

      <label>
        Umidade
      </label>

      <input type="text" name="umidade" value="">
      <br>

      <label>
        Ruido
      </label>

      <input type="text" name="ruido" value="">
      <br>

      <label>
        Luminosidade
      </label>

      <input type="text" name="luminosidade" value="">
      <br>

      <label>
        Link do produto no site da empresa
      </label>

      <input type="text" name="link" value="">
      <br>

      <label>
        Link para uma foto do produto
      </label>

      <input type="text" name="link_foto" value="">
      <br>

      <button type="submit">
        Cadastrar
      </button>

    </form>

  </body>
</html>
